@import "compass/utilities";
@import "compass/css3";
@import "zurui-sass";

#main {
  margin-top: 60px;
}

#notes {
  padding: 0;

  .note {
    width: 320px;
    height: 200px;
    vertical-align: top;

    display: inline-block;
    list-style-type: none;
    border: 2px solid #111;
    border-radius: 10px 10px 10px 10px;

    margin: 0 4px 10px 4px;

    padding: 0px 8px 8px 8px;

    @include zurui-box-emboss;
    @include zurui-box-outer;

    .delete-note {
      color: black;
      font-size: 80%;
    }

    .note-preview {
      margin-top: 4px;
      color: #888;
    }
  }
}

.new-button-block {
  margin-bottom: 10px;
}
